/* -----------------------------------
    1.0 - Imported Styles
-----------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* -----------------------------------
    2.0 - Common Styles
-----------------------------------*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: #f9f9f9;
    font: 20pt/160% 'Open Sans', Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    transition: all ease-in .3s;
    -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
}

input,
textarea,
select {
    font: 14px 'Open Sans', Georgia, 'Times New Roman', serif;
}

a:link {
    text-decoration: none
}

a:hover {
    text-decoration: none !important
}

a:link:hover {}

blockquote {
    color: #9e9e9e;
    margin: 3% 7%;
    padding-left: 20px;
    border-left: 5px solid #ddd;
}

address {
    margin-bottom: 20px
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ""
}

pre,
code {
    font: .9em/120% 'Courier New', Courier, monospace;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 30px 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

th {
    text-align: left
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}

table>caption+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>th,
table>thead:first-child>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>td {
    border-top: 0
}

table>tbody+tbody {
    border-top: 2px solid #dddddd
}

img,
embed,
iframe,
object,
video {
    max-width: 100%
}

img {
    height: auto;
    display: block;
}

::selection {
    background-color: #f66767;
    color: #fff;
}

.clear {
    float: left;
    clear: both;
    width: 100%;
}

.clearfix {
    *zoom: 1
}

.clearfix:before,
.clearfix:after,
article.hentry:after,
.row:after,
.comments-list ul li:after {
    display: table;
    content: "";
    width: 100%;
}

.clearfix:after {
    clear: both
}

.clearfix {
    width: 100%;
    clear: both;
}

.thumbnail {
    position: relative;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    display: block;
}

.video-holder iframe,
.map-holder iframe {
    width: 100% !important;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.tablecell {
    display: table-cell;
    vertical-align: middle;
}

.container {
    width: 100%;
    page-break-inside: avoid;
    page-break-after: auto;
}

.container.small {
    max-width: 640px;
    margin: 0 auto;
}

.container .container {
    /* width: 100%; */
}

.container.fullwidth {
    max-width: inherit;
    width: 100%;
}













/**
 * 2.1 Heading
 * ----------------------------------------------------------------------------
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", Arial;
    color: #000;
    line-height: 120%;
}

#logo {
    color: #372348;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 1px #9e9e9e;
    margin-bottom: 1%;
}

#label-content {
    width: 100%;
    margin: auto;
    padding: .4em;
    background: #fff;
    break-inside: avoid;
    page-break-inside: avoid;
}

.label-inner {
    padding: .4em;
    border: solid 3px #656565;
}

h2#order-id {
    font-size: 26pt;
    text-align: center;
    margin-bottom: 1%;
    font-weight: normal;
    text-transform: uppercase;
}

h2#order-id span {
    font-weight: bold;
    text-transform: none;
}

#addresses {
    font-size: 0;
}

.address {
    display: inline-block;
    font-size: 20pt;
    width: 50%;
    vertical-align: top;
}

.address.sender {
    text-align: right;
    padding-left: .8em;
}

.address p {
    margin-bottom: 1%;
}

#orders {
    border: solid 1px;
}

#orders h3 {
    padding: .6em;
    text-align: center;
    background: #000000;
    color: #ffffff;
    text-transform: uppercase;
}

#orders ul {
    padding: .4em;
    font-size: 20pt;
}

#orders ul li>span {
    font-weight: bold;
    margin-left: .5%;
}

#orders ul li#shipment {
    text-align: right;
    padding-top: .1em;
    border-top: solid 1px #eee;
    margin-top: 1%;
}

#orders ul li#shipment h4 {
    display: inline-block;
    vertical-align: baseline;
    font-size: 20pt;
    margin-left: 2%;
}

#orders ul li#shipment h4 small {
    font-weight: normal;
    font-size: 20pt;
}

#orders ul li#shipment span {
    font-style: italic;
}

.print-button {
    padding: .6em .8em;
    width: 200px;
    margin: 2% auto;
    background: #372348;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

p#shipment {
    padding: .4em;
    background: #eeeeee;
}

span.cl-shipping-weight {
    float: right;
}

@page {
    size: auto;
    margin: 0;
}

.page-break-after {
    page-break-after: always;
}

.page-break-before {
    page-break-before: always;
}

table.order-table {
    margin-bottom: 0;
}

table.order-table tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

table.order-table tr th {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

table.order-table tr td {
    text-align: left;
    word-wrap: break-word;
}

table.order-table tr th:last-child {
    width: 0;
}

table.order-table tbody tr:nth-child(even) td {
    background: #eeeeee;
}

@media print {
    body {
        background-color: #ffffff
    }
    .print-button {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .address {
        width: 100%;
        text-align: left !important;
        padding: 0 0 .4em 0 !important;
    }
}
